@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FBF4E2;
  --secondari-color: #463C74;
  --green-color: #B4D51E;
  --orange-color: #FFC735;
  --black-color: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
}
